 body {
	position: relative;
}
#home{
	background-color: #4676fa;
	padding-top: 220px;
	padding-bottom: 100px;
}
.navbar{
	margin-bottom: 0px;
	
}

.h1-header{
	color: white;
}
.h2-header{
	color: white;
}
#feature{
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: : #fff;
}
.section-header{
	text-align: center;
}
#service{
	background-color: #F2F2F2;
	padding-top: 80px;
	padding-bottom: 80px;

}
.service-header{
	text-align: center;
}
.feature-header{
	text-align: center;
}
#video-section{
	background-color: #4676fa;
	color: white;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
}
#works{
	background-color: #F2F2F2;
	padding-top: 80px;
	padding-bottom: 80px;
}
.work-section{
	text-align: center;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}
#pricing{
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: : #fff;
}
.judul{
	text-align: center;
}
#marketing-section{
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: : #fff;
}

.parallax{
    /* The image used */
    background-image: url("/belajar-frontend/assets/images/gdgparallax.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#download-section{
	text-align: center;
	/*color: white;
	background: #333;*/
	padding-top: 80px;
	padding-bottom: 80px;
}

#team{
	text-align: center;
	background-color: : #fff;
	padding-top: 80px;
	padding-bottom: 80px;
}
#follow-section{
	background-color: #4676fa;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
}
#clients{
	background-color: #F2F2F2;
	padding-bottom: 80px;
	padding-top: 80px;
}
#blogs{
	background-color: #fff;
	padding-bottom: 80px;
	padding-top: 80px;
}
.blogs-section{
	text-align: center;
}
#contact{
	background-color: #F2F2F2;
	padding-bottom: 80px;
	padding-top: 80px;;
}
.contact-us{
	text-align: center;
}
#subcribe{
	text-align: center;
	background-color: #fff;
	padding-bottom: 80px;
	padding-top: 80px;
}
#footer-section{
	text-align: center;
	color: white;
	background: #333;
	padding-bottom: 80px;
	padding-top: 80px;
}

